<section>
    <div class="sectionConstruction">
        <app-pixel-animation></app-pixel-animation>
        <div class="textAboutMe">
            <h1>Briefly about me and my life</h1>
            <p>I’m Luka Shekelashvili, a 21-year-old from Tbilisi, Georgia, with a strong foundation in technology and a growing passion for business. I gained valuable experience as a full-stack web developer during my tenure at the Ministry of Finance of Georgia and through an internship with SolarWinds. Currently, I’m pursuing studies in Business Management and Finance at Masaryk University in Brno, Czech Republic. With a unique blend of technical expertise and business acumen, I aim to bridge the gap between technology and business, offering innovative and impactful solutions.</p>
            <div class="lifeExperience">
                <p>Full-stack Web Developer</p>
                <p>Event manager and organizer</p>
                <p>Student of Masaryk University</p>
                <p>IT-Step Academy Graduate in 2 fields</p>
                <p>CEO of more than 3 event series in Georgia</p>
            </div>
        </div>
    </div>
</section>