<section>
  <h1 class="title-of-exp" #zoomElement>MY EXPERIENCE</h1>
  <div class="experience-container">
      <div class="experience-item">
          <div class="text-left">
            <p class="years-of-process">2017 - 2021 Years</p>
            <p class="process-description">Student of IB-Mthiebi in Georgia</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 1 to Circle 2 -->
      <div class="experience-item">
          <div class="text-right">
            <p class="years-of-process">2020 Year</p>
            <p class="process-description">Started my journey in business field. Stepped my feet in event industry by doing techno music events with event series "VISUAL EVENTS".</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 2 to Circle 3 -->
      <div class="experience-item">
          <div class="text-left">
            <p class="years-of-process">2021 - 2022 Years</p>
            <p class="process-description">Student of (BTU) business and Technology University in Tbilisi, Georgia</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 3 to Circle 4 -->
      <div class="experience-item">
          <div class="text-right">
            <p class="years-of-process">2021 Year</p>
            <p class="process-description">Continued my path in event industry and moved from techno to house type music events and started new event series named "GANTIADI"</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 1 to Circle 2 -->
      <div class="experience-item">
          <div class="text-left">
            <p class="years-of-process">2022 Year</p>
            <p class="process-description">Quit my studies in BTU start one more event series named "ZETSA EVENTS" collaboarating with "Houseum" record label residents and cooperating with djay's around the world.</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 2 to Circle 3 -->
      <div class="experience-item">
          <div class="text-right">
            <p class="years-of-process">2022 - 2023 Years</p>
            <p class="process-description">Start preparation for going abroad to purse my bachelor's and step my feet into the technology's world and start working in Ministry of Finance as a Fullstack web developer</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 3 to Circle 4 -->
      <div class="experience-item">
          <div class="text-left">
            <p class="years-of-process">2023 Year</p>
            <p class="process-description">Arrived in Czech Republic and start my studies in faculty of economics of Masaryk University</p>
          </div>
          <div class="circle"></div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 1 to Circle 2 -->
      <div class="experience-item">
          <div class="circle"></div>
          <div class="text-right">
            <p class="years-of-process">2024 AUG - 2024 NOV</p>
            <p class="process-description">Continue my journey in software development by joining international FinTech Company SolarWinds internship programm</p>
          </div>
      </div>
      <div class="line"></div> <!-- Line connecting Circle 2 to Circle 3 -->
      <div class="experience-item">
          <div class="circle-win">
          </div>
      </div>
  </div>
</section>